<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447965844179-b75rvmk99eiua6lp8235prhsoqvugngh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447965844179-b75rvmk99eiua6lp8235prhsoqvugngh</string>
	<key>API_KEY</key>
	<string>AIzaSyDs9fm47hvh0p3iR0bwGn6m3Ejio_NqAWk</string>
	<key>GCM_SENDER_ID</key>
	<string>447965844179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alex.Gestor-manada</string>
	<key>PROJECT_ID</key>
	<string>manada-colmillo-blanco</string>
	<key>STORAGE_BUCKET</key>
	<string>manada-colmillo-blanco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447965844179:ios:4195ee569e449b8ccfba26</string>
</dict>
</plist>